body {
	font-family: 'Fresca', sans-serif;
	margin: 0px;
}

#pageheader {
	font-size: 80px;
	text-align: center;
	padding: 2%;
	background-color: #033860;
}

.scholarshipbox {
	width: 50%;
	font-size: 20px;
	/*text-align: center;*/
	margin-left: 25%;
	margin-top: 3%;
}

.buttons {
	margin-left: 45%;
	/*width: 60px;*/
}